# Heroes of Pymoli Homework

In [1]:
#Importo dependencias
import pandas as pd
import numpy as np

In [2]:
#Cargo y pongo ruta para leer archivo
file = "Resources/Purchase_Data.csv"
#Leo archivo
PD_df = pd.read_csv(file)
#Archivo sin repetidos
PD2_df = PD_df.drop_duplicates(subset ="SN", keep="last", inplace= False)
#Transformo el archivo en un DataFrame
PD_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
#Calculo el número de Jugadores que hay
Number_Players = len(PD_df["SN"].unique())
Number_Players

#Convierto el resultado en un DataFrame
Players_dicts = [{"Total Number of Players":Number_Players}]
Total_Players_df = pd.DataFrame(Players_dicts)
Total_Players_df

   Total Number of Players
0                      576

# Purchasing Analysis Total

In [4]:
#calculo el número de Ítems que hay
Unique_Items = len(PD_df["Item ID"].unique())
Unique_Items

183

In [5]:
#Calculo el precio promedio
Average_Price = PD_df["Price"].mean()
Average_Price

3.050987179487176

In [6]:
#Calculo el número de compras
Number_Purchase = PD_df["Purchase ID"].count()
Number_Purchase

780

In [7]:
#Sumo el total de compras
Total_Gains = PD_df["Price"].sum()

Total_Gains

2379.77

In [8]:
#Creo DatFrame
PAT_dicts = [{"Number of Unique Items":Unique_Items, "Average Price":Average_Price, "Number of Purchases":Number_Purchase,
             "Total Revenue":Total_Gains}]
PAT_df = pd.DataFrame(PAT_dicts)
PAT_df

#Doy Formato
PAT_df["Average Price"] = PAT_df["Average Price"].map("${:.2f}".format)
PAT_df["Total Revenue"] = PAT_df["Total Revenue"].map("${:.2f}".format)
PAT_df.head()

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183      $2379.77

# Gender Demographics

In [223]:
#Número de jugadores hombres
Male_Players = PD2_df.loc[(PD2_df["Gender"] == "Male") , :]
Male_Players.count()

#Número de jugadoras mujeres

Female_Players = PD2_df.loc[(PD2_df["Gender"] == "Female"), :]
Female_Players.count()

#Número de jugadores sin sexo a especificar
Unknown_Players = PD2_df.loc[(PD2_df["Gender"] == "Other / Non-Disclosed"), :]
Unknown_Players.count()

Purchase ID    11
SN             11
Age            11
Gender         11
Item ID        11
Item Name      11
Price          11
Age Range      11
dtype: int64

In [224]:
# Agrupo los valores de "género" en hombre, mujeres y sexo sin definir
Male_Players_df = Male_Players.groupby(['Gender'])

Female_Players_df = Female_Players.groupby(["Gender"])

Unknown_Players_df = Unknown_Players.groupby(["Gender"])

In [225]:
# Cuento el número de jugadores Hombres
Male_Players_df["Gender"].count()

Gender
Male    484
Name: Gender, dtype: int64

In [226]:
# Cuento el número de jugadores Mujeres
Female_Players_df["Gender"].count()

Gender
Female    81
Name: Gender, dtype: int64

In [227]:
# Cuento el número de jugadores Sin Especificar
Unknown_Players_df["Gender"].count()

Gender
Other / Non-Disclosed    11
Name: Gender, dtype: int64

In [228]:
#Diseño mis variables
Total_CountGen = [int(Male_Players_df["Gender"].count()),
               int(Female_Players_df["Gender"].count()),
               int(Unknown_Players_df["Gender"].count()), 
              ]

Percentage_Players = [int(Male_Players_df["Gender"].count())/576*100,
                      int(Female_Players_df["Gender"].count())/576*100,
                      int(Unknown_Players_df["Gender"].count())/576*100]

#Creo mi DataFrame
Gender_dicts = {"Total Count":Total_CountGen, "Percentage of Players":Percentage_Players}
Gender_Summary_Table = pd.DataFrame(Gender_dicts, index= ["Male", "Female", "Unknown"])
Gender_Summary_Table

#Doy Formato
Gender_Summary_Table["Percentage of Players"] = Gender_Summary_Table["Percentage of Players"].map("{:.2f}%".format)
Gender_Summary_Table.head()

         Total Count Percentage of Players
Male             484                84.03%
Female            81                14.06%
Unknown           11                 1.91%

# Purchasing Analysis (Gender)

In [237]:
# Pongo nuevo index a SN
New_Index_PD = PD_df.set_index("Gender")
New_Index_PD.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price,Age Range
Gender,,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56,40+
Male,2,Ithergue48,24,92,Final Critic,4.88,20 to 24
Male,3,Chamassasya86,24,100,Blindscythe,3.27,20 to 24
Male,4,Iskosia90,23,131,Fury,1.44,20 to 24

In [238]:
# Calculo Purchase Count
Purchase_Count = [
    PD_df.loc[(PD_df["Gender"]) == "Male"]["Purchase ID"].count(),
    PD_df.loc[(PD_df["Gender"]) == "Female"]["Purchase ID"].count(),
    PD_df.loc[(PD_df["Gender"]) == "Other / Non-Disclosed"]["Purchase ID"].count(),    
]
Purchase_Count

[652, 113, 15]

In [239]:
# Calculo Average Purchase Price
Average_Purchase_Price = [
    PD_df.loc[(PD_df["Gender"]) == "Male"]["Price"].mean(),
    PD_df.loc[(PD_df["Gender"]) == "Female"]["Price"].mean(),
    PD_df.loc[(PD_df["Gender"]) == "Other / Non-Disclosed"]["Price"].mean(),    
]
Average_Purchase_Price

[3.0178527607361953, 3.203008849557519, 3.3460000000000005]

In [240]:
# Calculo Total Purchase Value
Total_PurchaseGen_Value = [
    PD_df.loc[(PD_df["Gender"]) == "Male"]["Price"].sum(),
    PD_df.loc[(PD_df["Gender"]) == "Female"]["Price"].sum(),
    PD_df.loc[(PD_df["Gender"]) == "Other / Non-Disclosed"]["Price"].sum(),    
]
Total_PurchaseGen_Value

[1967.64, 361.94, 50.19]

In [241]:
# Calculo Avg Total Purchase per Person
Total_CountGen = [int(Male_Players_df["Gender"].count()),
               int(Female_Players_df["Gender"].count()),
               int(Unknown_Players_df["Gender"].count()), 
              ]

Purchase_Gen = pd.Series(Total_PurchaseGen_Value)
Count_Gen = pd.Series(Total_CountGen)

Result_Gen = Purchase_Gen / Count_Gen
type(Result_Gen)
Result_Gen_list = Result_Gen.tolist()
print(Result_Gen_list)

[4.065371900826446, 4.468395061728395, 4.5627272727272725]

In [242]:
#Hago mi DataFrame
Gender_Purchase_dicts = {"Purchase Count":Purchase_Count, "Average Purchase Price":Average_Purchase_Price,
                        "Total Purchase Value":Total_PurchaseGen_Value, "Avg Total Purchase per Person":Result_Gen_list}
Gender_Purchase_Summary_Table = pd.DataFrame(Gender_Purchase_dicts, index = ["Male", "Female", "Unknown"])
Gender_Purchase_Summary_Table

#Uso método map para dar formato
Gender_Purchase_Summary_Table["Average Purchase Price"] = Gender_Purchase_Summary_Table["Average Purchase Price"].map("${:.2f}".format)
Gender_Purchase_Summary_Table["Total Purchase Value"] = Gender_Purchase_Summary_Table["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchase_Summary_Table["Avg Total Purchase per Person"] = Gender_Purchase_Summary_Table["Avg Total Purchase per Person"].map("${:.2f}".format)
Gender_Purchase_Summary_Table.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Unknown,15,$3.35,$50.19,$4.56

# Age Demographics

In [188]:
#Creo los bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create la etiqueta para los bins 
group_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

In [189]:
pd.cut(PD2_df["Age"], bins, labels=group_labels).head()

1         40+
2    20 to 24
3    20 to 24
4    20 to 24
6    35 to 39
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [190]:
PD2_df["Age Range"] = pd.cut(PD2_df["Age"],bins, labels=group_labels)
PD2_df.head()

/Users/jorgesanchezmartos/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35 to 39

In [213]:
#Creo un grupo basado en Total Age Range
Total_CountAge = PD2_df.groupby("Age Range")["Price"].count()
Percentage_of_PlayersAge = PD2_df.groupby("Age Range")["SN"].count() / 576*100 

#Hago merge
MergeAge = pd.merge(left= Total_CountAge, right=Percentage_of_PlayersAge, left_on="Age Range", right_on="Age Range", how="right").rename(columns={
    "Price":"Total Count",
    "SN":"Percentage of Players",
    "Age Range":" "
})

#Uso método Map para dar formato
MergeAge["Percentage of Players"] = MergeAge["Percentage of Players"].map("{:.2f}".format)
MergeAge

           Total Count Percentage of Players
Age Range
<10                 17                  2.95
10 to 14            22                  3.82
15 to 19           107                 18.58
20 to 24           258                 44.79
25 to 29            77                 13.37
30 to 34            52                  9.03
35 to 39            31                  5.38
40+                 12                  2.08

#  Purchasing Analysis (Age)

In [192]:
pd.cut(PD_df["Age"], bins, labels=group_labels).head()

0    20 to 24
1         40+
2    20 to 24
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [193]:
PD_df["Age Range"] = pd.cut(PD_df["Age"],bins, labels=group_labels)
PD_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [217]:
#Agrupo por "Age Range"
Average_Purchase_PriceAge = PD_df.groupby("Age Range")["Price"].mean()
Total_Purchase_ValueAge = PD_df.groupby("Age Range")["Price"].sum()
Purchase_CountAge = PD_df.groupby("Age Range")["Price"].count()

#Hago Merge
Merge1 = pd.merge(left=Purchase_CountAge, right=Average_Purchase_PriceAge, left_on="Age Range", right_on="Age Range", how="right")
Merge2 = pd.merge(left=Merge1, right=Total_Purchase_ValueAge, left_on="Age Range", right_on="Age Range", how="right").rename(columns={
    "Price_x":"Purchase Count",
    "Price_y":"Average Purchase Price",
    "Price":"Total Purchase Value"
})

#Calculo el "Avg Total Purchase per Person"
Merge2["Avg Total Purchase per Person"] = Merge2["Total Purchase Value"] / MergeAge["Total Count"]
Merge2

#Uso método Map para dar formato
Merge2["Average Purchase Price"] = Merge2["Average Purchase Price"].map("${:.2f}".format)
Merge2["Total Purchase Value"] = Merge2["Total Purchase Value"].map("${:.2f}".format)
Merge2["Avg Total Purchase per Person"] = Merge2["Avg Total Purchase per Person"].map("${:.2f}".format)
Merge2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10 to 14,28,$2.96,$82.78,$3.76
15 to 19,136,$3.04,$412.89,$3.86
20 to 24,365,$3.05,$1114.06,$4.32
25 to 29,101,$2.90,$293.00,$3.81
30 to 34,73,$2.93,$214.00,$4.12
35 to 39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [219]:
#Agrupo por "SN"
Top_Grouped_df = PD_df.groupby('SN')['Price'].count()
Top_Grouped_df2 = PD_df.groupby('SN')['Price'].sum()
Top_Grouped_df3 = PD_df.groupby('SN')['Price'].mean()

#Hago merge
Top_Final = pd.merge(left=Top_Grouped_df,right=Top_Grouped_df3, left_on="SN", right_on="SN", how="right")
Top_Final = pd.merge(left=Top_Final,right=Top_Grouped_df2, left_on="SN", right_on="SN", how="right")
Top_Final = Top_Final.rename(columns = {"Price_x" : "Purchase Count",
                                        "Price_y" : "Average Purchase Price",
                                        "Price":"Total Purchase Value"})

#Ordeno de manera descendente por "Total Purchase Value"
Top_Final.sort_values(by="Total Purchase Value", inplace=True, ascending=False)
Top_Final.head(5)

#Uso método Map para dar formato
Top_Final["Average Purchase Price"] = Top_Final["Average Purchase Price"].map("${:.2f}".format)
Top_Final["Total Purchase Value"] = Top_Final["Total Purchase Value"].map("${:.2f}".format)
Top_Final.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [236]:
#Agrupo por "Item ID" y "Item Name"
Mop_Grouped_df = PD_df.groupby(["Item ID", "Item Name"])["Price"].count()
Mop_Grouped_df2 = PD_df.groupby(["Item ID", "Item Name"])["Price"].mean()
Mop_Grouped_df3 = PD_df.groupby(["Item ID", "Item Name"])["Price"].sum()

#Hago merge
Mop_Final = pd.merge(left=Mop_Grouped_df, right=Mop_Grouped_df2, left_on=["Item ID", "Item Name"], right_on=["Item ID", "Item Name"], how="right")
#Además de hacer merge, renombro las columnas y acomodo de manera descendente los valores por "Purchase Value"
Mop_Final = pd.merge(left=Mop_Final, right=Mop_Grouped_df3, left_on=["Item ID", "Item Name"], right_on=["Item ID", "Item Name"], how="right").rename(columns = {"Price_x" : "Purchase Count",
                                        "Price_y" : "Item Price",
                                        "Price":"Total Purchase Value"}).sort_values(by="Purchase Count", ascending=False)

#Uso método Map para dar formato
Mop_Final["Item Price"] = Mop_Final["Item Price"].map("${:.2f}".format)
Mop_Final["Total Purchase Value"] = Mop_Final["Total Purchase Value"].map("${:.2f}".format)
Mop_Final.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

#  Most Profitable Items

In [235]:
#Agrupo por "Item ID" y "Item Name"
Mop_Grouped_df = PD_df.groupby(["Item ID", "Item Name"])["Price"].count()
Mop_Grouped_df2 = PD_df.groupby(["Item ID", "Item Name"])["Price"].mean()
Mop_Grouped_df3 = PD_df.groupby(["Item ID", "Item Name"])["Price"].sum()

#Hago merge
Mop_Final = pd.merge(left=Mop_Grouped_df, right=Mop_Grouped_df2, left_on=["Item ID", "Item Name"], right_on=["Item ID", "Item Name"], how="right")
#Además de hacer merge, renombro las columnas y acomodo de manera descendente los valores por "Total Purchase Value"
Mop_Final = pd.merge(left=Mop_Final, right=Mop_Grouped_df3, left_on=["Item ID", "Item Name"], right_on=["Item ID", "Item Name"], how="right").rename(columns = {"Price_x" : "Purchase Count",
                                        "Price_y" : "Item Price",
                                        "Price":"Total Purchase Value"}).sort_values(by="Total Purchase Value", ascending=False)
#Uso método Map para dar formato
Mop_Final["Item Price"] = Mop_Final["Item Price"].map("${:.2f}".format)
Mop_Final["Total Purchase Value"] = Mop_Final["Total Purchase Value"].map("${:.2f}".format)
Mop_Final.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80